header {
	min-width: 50rem;
}

#total_git_commit_controller {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

#right_total_container,
#create_commit_container {
	width: 100%;
	min-width: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#file_upload_history_container,
#files_container {
	width: 100%;
	min-width: 50rem;
	margin-bottom: 2rem;
	border: 1px solid rgb(125, 125, 125);
	border-radius: 6px;
}

#uppp #upper_container {
	width: 100%;
}

#last_container_container,
#commit_user_info,
#commit_details_info {
	display: flex;
	align-items: center;
}

#last_container_container {
	padding: 1rem;
	justify-content: space-between;
	border-bottom: 1px solid rgb(169, 169, 169);
}

#commit_user_info img {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 1rem;
}

#last_commit_user {
	font-weight: 900;
	color: rgb(6, 195, 115);
	margin-right: 2rem;
}

#last_commit_date {
	margin-right: 1rem;
	color: rgb(125, 125, 125);
}

#last_commit_file_count {
	color: rgb(6, 195, 115);
	font-weight: 600
}

#file_commit_content,
#file_commit_date,
#last_commit_content,
#last_commit_date {
	font-weight: 700;
	color: rgb(125, 125, 125);
}

#last_commit_content {
	margin-right: 4rem;
}

select {
	padding: 0.5rem;	
}

#file_commit_date,
#last_commit_date {
	font-weight: 500;
}

.file_or_forder_list_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid rgb(169, 169, 169);
}

.file_or_forder_list_container:last-child {
	border: none;
}

#folder_list_contaier,
#upper_folder_container {
	justify-content: start;
}

#folder_list_contaier img,
#upper_folder_container img {
	margin-right: 1rem;
}

#file_list_container,
#file_list_container div {
	display: flex;
	align-items: center;
}

.eclipse_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 12rem;
}

.uploaded_folder_name:hover {
	text-decoration: underline;
	color: rgb(6, 195, 115);
	font-weight: 600;
}

.uploaded_file_name:hover {
	text-decoration: underline;
}

#file_list_container {
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid rgb(169, 169, 169);
}

#file_list_container:last-child {
	border: none;
}

#file_list_container div img {
	margin-right: 1rem;
}

#file_list_container div p:first-child {
	font-weight: 700;
	color: rgb(125, 125, 125);
}

#file_list_container div p:last-child {
	margin-right: 1rem;
	color: rgb(125, 125, 125);
}

#commit_content_date_container {
	width: 20rem;
	justify-content: space-between;
}

#uploaded_files_container {
	width: 100%;
}


/*
#uploaded_files_container table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 1rem;
}

#uploaded_files_container tr {
	padding: 1rem;
	text-align: center;
	border-bottom: 1px solid rgb(169, 169, 169);
}

#uploaded_files_container tr:last-child {
	border: none;
}

#uploaded_files_container td {
	padding: 0.5rem 1rem;
}

*/

#uploaded_files_container img {
	width: 2rem;
	height: 2rem;
}

#uploaded_files_container a {
	font-weight: 500;
}

#uploaded_files_container tbody div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#upload_file_container {
	margin-bottom: 2rem;
	min-height: 10rem;
	border-bottom: 1px solid rgb(169, 169, 169);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.file_input {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.file_input label {
	font-weight: 700;
}

#write_commit_container {
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

#write_commit_container img {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border-radius: 100%;
}

#write_commit_details_container {
	width: 100%;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 6px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

#write_commit_details_container>p {
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(6, 195, 115);
}


#write_commit_container textarea {
	display: block;
	resize: none;
	width: 100%;
	margin-bottom: 1rem;
}

#commit_radio_input {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.user_branches {
	font-weight: 600;
}

#commit_btns {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#commit_btns button {
	font-size: 1rem;
	padding: 0.5rem;
}

#commit_btn {
	background-color: rgb(200, 200, 200);
	color: rgb(250, 250, 250);
}

#commit_btn:hover {
	background-color: rgb(6, 195, 115);
}

#cancel_btn {
	background-color: rgb(248, 230, 232);
	color: rgb(250, 250, 250);
}

#cancel_btn:hover {
	background-color: rgb(169, 69, 65);
}

#create_commit_container {
	margin: auto;
	justify-content: center;
	gap: 1rem;
	border: 1px solid rgb(125, 125, 125);
	border-radius: 6px;
	padding-block: 2rem;
}

#create_commit_container>p {
	font-size: 1.2rem;
	font-weight: 700;
}

#branch_create_input,
#branch_create_btn {
	display: flex;
	gap: 1rem;
}

#branch_create_input input {
	width: 12rem;
}

#branch_create_btn button {
	padding: 1rem;
	border-radius: 6px;
}

#create_branch_btn {
	background-color: rgb(200, 200, 200);
	color: rgb(250, 250, 250);
}


#create_branch_btn:hover {
	background-color: rgb(6, 195, 115);
}

#reset_branch_btn {
	background-color: rgb(248, 230, 232);
	color: rgb(250, 250, 250);
}

#reset_branch_btn:hover {
	background-color: rgb(169, 69, 65);
}