<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{includes/layout}" lang="ko">

<head>
	<title layout:title="500 오류">500 오류</title>
	<link rel="stylesheet" th:href="@{/css/includes/error.css}" />
</head>

<body>
	<div class="main" layout:fragment="content">
		<div class="error_container">
			<h1>500 오류페이지 (서버 오류)</h1>
			<p class="description">
				요청을 처리하는 중 오류가 발생했습니다.
				<br>
				잠시 후 다시 시도해주세요.
			</p>
			<a class="index_btn" th:href="@{/index}">메인화면으로</a>
		</div>
	</div>
</body>

</html>