.modal2 {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(250, 250, 250);
	padding: 30px;
	border-radius: 8px;
	z-index: 11;
}

.createchat_total_container {
	background-color: rgb(250, 250, 250);
	width: 30rem;
	margin: 1rem auto auto auto;
	padding: 1rem;
}

.addChatroombtn{
	z-index: 10;
}

.form_item > input:nth-child(1){
	width: 30rem;
}

.form_item > select{
	width: 30rem;
}