.file-boxes {
	margin-top: 8px;
	background-color: #f0f0f0;
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	max-width: 70%;
	margin-left: 2rem;
	width: 30rem;
	align-items: center;
}


.file-in-form {
	display: flex;
}

.file-in-form:hover{
	color: rgb(169, 169, 169);
}

.file-img{
	display: block;
	max-width: 5rem;
	max-height: 5rem;
	margin-bottom: 4px;
	margin-right: 1rem;
}

.file-defult{
	width: 2rem; 
	height: 2rem; 
	margin-right: 10px;	
}