<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{includes/layout}" lang="ko">

<head>
	<title layout:title="비밀번호 찾기">비밀번호 찾기</title>
	<link rel="stylesheet" th:href="@{/css/user/sign_form.css}" />
	<script th:src="@{/javascript/user/email_verification.js}" defer></script>
</head>


<body>
	<div class="main" layout:fragment="content">
		<div class="password_container">
			<div class="find_pw_form">
				<h1>비밀번호 찾기</h1>
				<input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

				<!--<label for="email" 	>이메일</label>-->
				<input type="email" id="email" class="login_input input_email" placeholder="이메일 입력" />
				<p class="caution email_caution">이메일 형식이 올바르지 않습니다.</p>
				<button class="login_btn send_authentication_number" onclick="sendMail()">인증번호 전송</button>

				<div id="result"></div>
				<p class="signup">
					비밀번호가 생각나셨다면?
					<a th:href="@{/user/login}">로그인</a>
				</p>
			</div>
		</div>
	</div>
</body>

</html>